@use "../../../../styles/tokens" as *;

.heading {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
  text-align: center;
}

.title {
  font-size: $text-lg;
  font-weight: 400;
  letter-spacing: -1.5%;
  line-height: $line-height-lg;

  span {
    color: var(--color-primary-400);
  }
}

.description {
  color: var(--color-text-secondary);
  font-size: $text-sm;
  font-weight: 400;
  line-height: $line-height-md;
}
