@use "../../styles/tokens" as *;

.section {
  --eyebrow-color: #fff;
  position: relative;
  overflow: hidden;
  color: #fff;
  background:
    radial-gradient(ellipse at 50% 29%, #928780 0%, transparent 48%),
    radial-gradient(ellipse at 50% 100%, #546268 0%, transparent 56%), #9aaeb5;
}

.heading {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 56px 24px 0;
  text-align: center;

  h2 {
    font-size: $text-lg;
    font-weight: 400;
    line-height: $line-height-lg;
    letter-spacing: -0.025em;
  }
  h2 span {
    color: #ffffff80;
  }
  > p:last-child {
    color: #e0dddd;
    font-size: $text-sm;
    line-height: $line-height-md;
  }
}

.eyebrow {
  color: var(--color-text-button-primary);
}
.visual {
  position: relative;
  height: 620px;
  max-width: 1280px;
  margin: 0 auto;
}
.face {
  position: absolute;
  z-index: 1;
  width: 732px;
  height: auto;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.charts {
  position: absolute;
  top: 126px;
  left: 0;
  right: 0;
  max-height: 336px;
  height: 100%;
}

@media (max-width: 1700px) and (min-width: 768px) {
  .visual {
    width: 90%;
  }
}

@media (max-width: 1099px) {
  .heading {
    gap: 16px;
    padding-top: 80px;
  }
  .heading h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .heading > p:last-child {
    max-width: 560px;
    font-size: 14px;
    line-height: 20px;
  }
  .visual {
    width: calc(100% - 40px);
    height: 850px;
    margin-top: 55px;
  }
  .charts {
    top: 0;
    height: 800px;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .section {
    background:
      radial-gradient(
        ellipse 58% 62% at 50% 42%,
        #928780 0%,
        rgb(146 135 128 / 100%) 20%,
        transparent 100%
      ),
      radial-gradient(
        ellipse 76% 48% at 50% 100%,
        #546268 0%,
        rgb(84 98 104 / 10%) 250%,
        transparent 100%
      ),
      #9aaeb5;
  }

  .face {
    top: -80px;
    left: 52%;
    width: 810px;
    max-width: none;
    transform: translateX(-50%);
    transform-origin: top center;
  }
}

@media (max-width: 767px) {
  .heading {
    gap: 22px;
    padding: 92px 20px 0;
  }
  .heading h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .heading > p:last-child {
    font-size: 15px;
    line-height: 22px;
    max-width: 340px;
  }
  .lineBreak {
    display: none;
  }
  .visual {
    width: calc(100% - 32px);
    height: 576px;
    margin-top: 54px;
  }
  .face {
    position: absolute;
    top: 75px;
    left: 50%;
    width: min(110vw, 460px);
    transform: translateX(-50%);
  }
  .charts {
    position: absolute;
    inset: 0;
    height: 370px;
    padding: 0;
  }
}
