@use "../../styles/tokens" as *;

.section {
  --eyebrow-color: #fff;
  position: relative;
  overflow: hidden;
  color: #fff;
  background:
    radial-gradient(
      ellipse 23% 65% at 50% 80%,
      rgb(146, 135, 128) 5%,
      rgb(52, 48, 45) 2%,
      transparent 76%
    ),
    radial-gradient(ellipse at 50% 29%, #928780 0%, transparent 48%),
    radial-gradient(ellipse at 50% 100%, #546268 0%, transparent 56%), #9aaeb5;
}

.heading {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 56px 24px 0;
  text-align: center;

  h2 {
    font-size: $text-lg;
    font-weight: 400;
    line-height: $line-height-lg;
    letter-spacing: -0.025em;
  }
  h2 span {
    color: #ffffff80;
  }
  .defaultDescription,
  .mobileDescription {
    color: #e0dddd;
    font-size: $text-sm;
    line-height: $line-height-md;
  }
}

.eyebrow {
  color: #e0dddd;
}
.mobileDescription {
  display: none;
}
.visual {
  position: relative;
  height: 620px;
  max-width: 1280px;
  margin: 0 auto;
}
.face {
  position: absolute;
  z-index: 1;
  width: 732px;
  height: auto;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.charts {
  position: absolute;
  top: 126px;
  left: 0;
  right: 0;
  max-height: 336px;
  height: 100%;
}

@media (max-width: 1700px) and (min-width: 768px) {
  .visual {
    width: 90%;
  }
}

@media (max-width: 1099px) {
  .heading {
    gap: 16px;
    padding-top: 80px;
  }
  .heading h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .defaultDescription,
  .mobileDescription {
    max-width: 560px;
    font-size: 14px;
    line-height: 20px;
  }
  .visual {
    width: calc(100% - 40px);
    height: 850px;
    margin-top: 55px;
  }
  .charts {
    top: 0;
    height: 800px;
  }
}

@media (max-width: 1099px) {
  .section {
    background:
      radial-gradient(
        ellipse 250% 50% at 50% 70%,
        rgb(31 40 43 / 26%) 0%,
        rgb(31 40 43 / 14%) 50%,
        transparent 76%
      ),
      radial-gradient(
        ellipse 100% 50% at 50% 40%,
        #928780 0%,
        rgb(146 135 128 / 100%) 30%,
        transparent 100%
      ),
      radial-gradient(
        ellipse 76% 48% at 50% 100%,
        #546268 0%,
        rgb(84 98 104 / 20%) 250%,
        transparent 100%
      ),
      #9aaeb5;
  }

  .face {
    top: -80px;
    left: 52%;
    width: 810px;
    max-width: none;
    transform: translateX(-50%);
    transform-origin: top center;
  }
}

@media (max-width: 767px) {
  .heading {
    gap: 16px;
    padding: 80px 20px 0;
  }
  .heading h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .heading .defaultDescription,
  .heading .mobileDescription {
    max-width: 343px;
    color: rgb(224 221 221 / 70%);
    font-size: 14px;
    line-height: 20px;
  }
  .defaultDescription {
    display: none;
  }
  .mobileDescription {
    display: block;
  }
  .lineBreak {
    display: none;
  }
  .visual {
    width: calc(100% - 32px);
    height: calc(144.3vw - 46px);
    margin-top: 24px;
  }
  .face {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: none;
    transform: translateX(-50%) scale(1.1);
    transform-origin: top center;
  }
  .charts {
    position: absolute;
    inset: 0;
    height: 370px;
    padding: 0;
    container-type: inline-size;
  }
}
