.section {
  display: block;
}

@media (max-width: 1440px) {
  .section {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .section *,
  .section *::before,
  .section *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
  }
}
