.insights {
  position: absolute;
  bottom: 18px;
  left: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: calc(100% - 32px);
}

.insightCard {
  display: flex;
  height: 230px;
  padding: 16px;
  flex-direction: column;
  border-radius: 12px;
  background: rgb(255 255 255 / 20%);
  backdrop-filter: blur(8px);

  h3 {
    margin-top: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }

  p {
    max-width: 300px;
    margin-top: 6px;
    color: rgb(255 255 255 / 50%);
    font-size: 14px;
    line-height: 20px;
  }
}

.thumbnail {
  width: 120px;
  height: 82px;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 1099px) {
  .insights {
    bottom: 40px;
    left: 0;
    display: flex;
    gap: 16px;
    width: 100%;
    padding-inline: 16px;
    overflow-x: auto;
    scroll-padding-inline: 16px;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .insightCard {
    flex: 0 0 277px;
    width: 277px;
    height: 194px;
    min-width: 277px;
    padding: 16px;
    scroll-snap-align: start;

    h3 {
      margin-top: auto;
      font-size: 16px;
      line-height: 20px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .thumbnail {
    width: 96px;
    height: 66px;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .insights {
    bottom: 0;
    gap: 16px;
    padding-inline: 32px;
    scroll-padding-inline: 38px;
  }
}
